{% extends "base" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="css/index.css">
{% endblock head %}

{% block body %}
{{ super() }}
<h1>Index</h1>
<p>{{ message }}</p>
{% endblock body %}
